<!--The content below is only a placeholder and can be replaced.-->
<div class='loginpage'>
  <ul>
       <li>
         <h2 class='title'>{{title}}</h2>
       </li>
          <div class="form-group">
              <label style="color:#ff8011" for="usr">email:</label>
              <input (keyup)="email($event)" id="fullemail" required="required" name="useremail" type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
              <label style="color:#ff8011"for="pwd">Password:</label>
              <input  (keyup)="password($event)" id="fullpassword" required="required" name="userpass" type="password" class="form-control" id="pwd">
          </div>
          <button routerLink ='/videos'(click)="login()" id="test-Button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Log In</button>
          <button routerLink ='/signup' id="test-Button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Sign Up</button>
  </ul>
</div>
<router-outlet></router-outlet>
