<section class="sidebarouter">
    <article class="innersider">
      <section class="notneededinner">
        <div  routerLink ='/render/myplaylistgo' class="sidebtns">
          <p class="buttontext">My Playlist</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Weekly Podcast</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Albums</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Singles</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Monthly Choreography</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Viideos(infinity xclusive)</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Infinity Base</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Infinite Charts</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Infinite Beats</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Artist Profile</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Entertainment</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Events</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Loyalty Coins</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Support</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">About</p>
        </div>
        <div class="sidebtns">
          <p class="buttontext">Log Out</p>
        </div>
      </section>
    </article>
</section>
