<nav-bar></nav-bar>
<side-bar *ngIf="status === true"></side-bar>
<!--MAIN BODY-->
<router-outlet></router-outlet>
<section [ngStyle]="renderstyle()" class="main-body">
  <article class="inner-mainbody">
      <p class="introsideslide">Latest Releases:</p>
      <div class="sideslide">
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
          <div class="avideo">
            <p>dgdfs</p>
          </div>
      </div>
      <p class="introsideslide">Top Songs:</p>
      <div class="sideslide">
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
      </div>
      <p class="introsideslide">Top Albums:</p>
      <div class="sideslide">
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
      </div>
      <p class="introsideslide">Top Artists:</p>
      <div class="sideslide">
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
      </div>
      <p class="introsideslide">Infinite Talent:</p>
      <div class="sideslide">
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
        <div class="avideo">
          <p>dgdfs</p>
        </div>
      </div>
  </article>
</section>
