.videopagecontent{
  background-color: #46484c;
  position:relative;
  width:100%;
  height:100%;
  overflow-y :auto;
  margin-top: 160px;
}
.videopagecontainer{
  background-color: #46484c;
  width: 100%;
  height:100%;
  float:right;
  display:flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  right:0px;
  overflow: hidden;
}
.sidebarcontainer{
  background-color: #46484c;
  overflow: auto;
  height: 600px;
}
.sidebar{
  z-index: 1;
  background-color: #46484c;
  height: 100%;
  width: 350px;
  position : fixed;
  left:0px;
  margin-top: 70px;
  display:block;
  -moz-box-shadow: 0px 0px 5px #222223;
  -webkit-box-shadow: 0px 0px 5px #222223;
  box-shadow: 0px 0px 5px #222223;
  -webkit-animation: animateionsidebar;
  -webkit-animation-duration: .6s;
  -webkit-animation-timing-function: normal;
  animation: animateionsidebar;
  animation-duration: .6s;
  animation-timing-function: normal;
}
@keyframes animateionsidebar {
  from{left:-300px;}
  to{left: 0px;}
}

@-webkit-keyframes animateionsidebar {
  from {left:-70px;}
  to {left:0px;}
}
.sidebarbuttons:hover{
  transform : scale(1.2);
}
.sidebarbuttons:active{
  transform: scale(0.7);
  background-color: #424040;
}
.sidebarbuttons{
  height: 120px;
  width:100%;
  display: flex;
  background-color: #46484c;
  justify-content: center;
  align-items: center;
  cursor : pointer;
  transition : transform .2s;
  box-shadow: 0px 0px 5px #222223;
  -webkit-box-shadow: 0px 0px 1px #222223;
  -moz-boxshadow:0px 0px 1px #222223 ;
  -o-box-shadow: 0px 0px 1px #222223;
  -ms-box-shadow: 0px 0px 1px #222223;
}
.sidebtntext{
  color: #ff8011;
}
/*width*/
::-webkit-scrollbar{
  width : 5px;
  height : 5px;
}
/*track*/
::-webkit-scrollbar-track{
  background-color: #46484c;
}
::-webkit-scrollbar-thumb{
  background-color: #a5a4a4;
  transition : transform .3s;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #c4c4c4;
}
.videosPage{
  width: 100%;
  height:100%;
  display : flex;
  position:fixed;
  align-items: center;
  justify-content: center;
  background-color:#46484c;
  z-index:1;
  overflow:auto;
}
.search-box{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 490px;
  width:400px;
}
.search{
  width: 900px;
}
#searchbutton:hover{
  background-color: #dd9311;
}
#searchbutton:active{
  background-color: #ff8011;
  transform : scale(1.3);
}
#searchbutton{
  margin-left:10px;
  color:black;
  background-color: #ff8011;
  display: flex;
  align-items: center;
  justify-content: center;
  transition : transform .4s;
}
.sidescroll1{
  background-color: #46484c;
  margin-bottom:60px;
  margin-top:50px;
  width:100%;
  height: 280px;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidescroll2{
  background-color: #46484c;
  margin-bottom:60px;
  margin-top:50px;
  width:100%;
  height: 280px;
  overflow: auto;
  display: flex;
}
.sidescroll3{
  background-color: #46484c;
  margin-bottom:60px;
  margin-top:50px;
  width:100%;
  height: 280px;
  overflow: auto;
  display: flex;
}
.sidescroll4{
  background-color: #46484c;
  margin-bottom:60px;
  margin-top:50px;
  width:100%;
  height: 280px;
  overflow: auto;
  display: flex;
}
.sidescroll5{
  background-color: #46484c;
  margin-bottom:100px;
  margin-top:50px;
  width:100%;
  height: 280px;
  overflow: auto;
  display: flex;

}
.video{
  background-color: aqua;
  min-width: 320px;
  height: 250px;
  margin-left: 20px;
}
.labelsidescroll{
  margin-left:20px;
  font-size: 20px;
  color: #ff8011;
}
/*MEDIA QUERIES GO HERE*/
/*
@media screen and (min-width:2560px) and (min-height:1131px){
  .sidebarcontainer{
    background-color: #46484c;
    overflow: auto;
    height: 680px;
  }
}
*/
