/* You can add global styles to this file, and also import other style files */
.title{
  font-family: 'Tangerine', cursive;
  color:#ff8011;
  font-size: 55px;
}
li{
  list-style-type: none;
}
.introductorybtns{
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.successtext{
  color : green;
  font-size: 18px;
}
.attemps{
  color:#ff8011;
  font-size: 18px;
}
/*width*/
::-webkit-scrollbar{
  width : 5px;
  height : 5px;
}
/*track*/
::-webkit-scrollbar-track{
  background-color: #46484c;
}
::-webkit-scrollbar-thumb{
  background-color: #a5a4a4;
  transition : transform .3s;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #c4c4c4;
}
.errorbox{
  background-color: inherit;
}
.errortext{
  color: red;
}
@keyframes animateionsidebar {
  from{left:-300px;}
  to{left: 0px;}
}

@-webkit-keyframes animateionsidebar {
  from {left:-70px;}
  to {left:0px;}
}
/*Video page styling na haki sitairudia tena*/
.videosPage{
  width: 100%;
  height:100%;
  display : flex;
  position:fixed;
  background-color:#46484c;
  overflow:auto;
}



/*MEDIA QUERIES GO HERE*/
/*
@media screen and (min-width:2560px) and (min-height:1131px){
  .sidebarcontainer{
    background-color: #46484c;
    overflow: auto;
    height: 680px;
  }
}
*/
